.dashboard {
  padding: 40px;
  text-align: center;
  background-color: #f9fafb;
  height: 80vh;
}

.dashboard h1 {
  color: #1d4ed8;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.dashboard p {
  color: #4b5563;
  font-size: 1rem;
}
